#header{
    background: rgb(68, 65, 65);
    height: 160px;
}

.header-text{
    display: flex;
    color: white;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 70px;
}

img{
    height: 90px;
}

.musicbox{
    font-family: 'Poiret One', cursive;
font-family: 'Tapestry', cursive;
    color: white;
    font-size: 60px;
}