#header {
    background: rgb(68, 65, 65);
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.musicbox {
    font-family: 'Poiret One', cursive;
    font-family: 'Tapestry', cursive;
    color: white;
    font-size: 60px;
}

@media (max-width: 576px) {
    #header {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }

    .musicbox {
        font-size: 40px;
    }
    .profile-image{
        size: medium;
    }
    .links-span{
        background-color: red;
    }

}