#header{
    background: rgb(148, 152, 184);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#span{
    font-size: 30px;
}
.musicbox {
    font-family: 'Poiret One', cursive;
    font-family: 'Tapestry', cursive;
    color: white;
    font-size: 60px;
}
.links-span{
    font-size: 60px;
    }

@media (max-width: 576px) {
    #header {
        display: flex;
        align-content: center;
        justify-content: space-evenly;
    }

    .musicbox {
        font-size: 35px;
    }

    .links-span{
        display: flex;
        flex-direction: column;
    }

}