.LoginGrid{
    background: url('Loginimage.jpg') no-repeat center fixed;
    background-size: cover;
}

.LoginColumn{
    box-shadow: 5px 5px 10px black;
    background-color: rgb(99, 93, 93);
}

.LoginForm{
    /* background-color: red; */
    max-height: 500px;
}